.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

textarea {
  resize: none;
}

#appbody {
  position: relative;
}

#appbody > div {
  width: 49.5%;
  display: inline-grid;
}

#appbody > :first-child {
  margin-right: 1%;
}

/* CURSOR */
.cursor-pointer {
  cursor: pointer;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

/* DISPLAY */

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

/* FONT */
.font-monospace {
  font-family: monospace !important;
}

/* BACKGROUND */
.background-white {
  background-color: white !important;
}

/* WIDTH */
.width-per-100 {
  width: 100%;
}

.max-width-per-100 {
  max-width: 100%;
}

/* PADDING */
.padding-0 {
  padding: 0 !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

/* MARGIN */
.margin-0 {
  margin: 0 !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

/* NO SELECTABLE */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Quantity label */
.mylabel-container {
  width: 8.33%;
  position: fixed;
  bottom: 0;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}

.mylabel-container.quantity-label:hover {
  cursor: pointer;
}

.mylabel-container > div > div > h1 {
  font-size: 72px;
  margin: 0 0 10px 0;
  text-align: center;
}

.mylabel-container > div > div > h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.mylabel-container.line-label {
  right: 25px;
}

/* Receipt */
.receipt-form {
  padding-top: 10px;
  padding-bottom: 10px;
}

.receipt-form > select {
  margin-right: 2%;
  width: 32% !important;
  float: left;
}

.my-btn-container {
  width: 66%;
  float: right;
}

.receipt-form > label {
  margin: 10px 0 10px 0;
}

.my-btn-group-ext {
  width: 100%;
}

.my-btn-group-int {
  width: 50%;
}

.my-btn-group-int > button {
  margin: 0;
  width: 100%;
}

/* Modal */
.modal {
  text-align: left;
}

/* Panel dishes list */
#dishes-list > .panel > .panel-heading > h2.panel-title,
#drinks-list > .panel > .panel-heading > h2.panel-title {
  font-size: 24px;
}

#dishes-list > .panel > .panel-collapse > ul > li > h4,
#drinks-list > .panel > .panel-collapse > ul > li > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#dishes-list > .panel > .panel-collapse > ul > li > h4 > button,
#drinks-list > .panel > .panel-collapse > ul > li > h4 > button {
  margin-left: 10px;
}

/* Ingredients dropdown */
ul.dropdown-menu > li > a > h4 {
  display: inline-block;
  margin: 6px 0;
}

.my-modal-form > .button-group {
  display: inline-block;
  margin-left: 2%;
  width: 32%;
}

.my-modal-form > select {
  margin: 0;
  width: 32% !important;
}

.my-modal-form > .button-group > button {
  width: 100%;
  text-align: left;
}

.my-modal-form > .button-group > button > span {
  float: right;
}

#last-button-group {
  float: right;
}

.dropdown-menu {
  top: inherit !important;
  left: inherit !important;
}

/* Confirm button */
.confirm-button-container > .btn.btn-success {
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
}
